<div class="container">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form">
        <span class="login-form-title"
          ><img src="../../../assets/logo.svg" alt="Logo"
        /></span>
        <span class="login-form-title">Login</span>
        <div class="wrap-input">
          <input
            class="input"
            type="text"
            [(ngModel)]="formData.user"
            name="user"
            (focus)="inputFocused('user')"
            (blur)="inputBlurred('user')"
          />
          <label
            class="focus-input"
            [class.shrink]="focusedStates['user'] || formData.user"
            >Usuário</label
          >
        </div>
        <div class="wrap-input">
          <input
            class="input"
            type="password"
            [(ngModel)]="formData.password"
            name="password"
            (focus)="inputFocused('password')"
            (blur)="inputBlurred('password')"
          />
          <label
            class="focus-input"
            [class.shrink]="focusedStates['password'] || formData.password"
            >Senha</label
          >
        </div>

        <div class="container-login-form-btn">
          <button class="login-form-btn" (click)="onSubmit()">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
